@import url(style_footer.css);
@import url(style_main.css);
.body{
    background-image: url(../imagens/back.png);
   
}

.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 0, 128);
    font-size: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
   
    
}
h1{
    background-color: rgb(245, 228, 236);
    padding: 0.100em;
    opacity: 0.80;
    border-radius: 15px;
}
.logo{
    padding-top: 4em;
    padding-bottom: 4em;
}
@media screen and (max-width: 580px){header{
    width: 95%;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
   
}
  }
 