
.main{
    width: 100%;
    display: flex;
    height: 400px;
    opacity: 0.90;
    justify-content: center;
}
.calculadora_imc{
    width: 50%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(245, 228, 236);
    border-radius: 15px;
    justify-content: center;
}
.caixa1{
    width: 40%;
    height: 100%;
    color: rgb(255, 0, 128);
    font-size: 22px;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1em;
    
    
}
.peso{
    height: 33%;
    
    padding-top: 1em;
    
}
.altura{
    height: 33%;
   
    padding-top: 1em;
}
.botao_calcular{
    height: 33%;
    
}


.input-peso{
    padding-top: 1em;
    background-color:hsl(315, 59%, 79%);
    border-radius: 5px;
    width: 90%;
    
    color:hsl(323, 96%, 21%);
    font-weight: bolder;
    font-size: 16px;
    text-align:end;
    cursor: pointer;
}
.input-altura{
    padding-top: 1em;
    background-color:hsl(315, 59%, 79%);
    border-radius: 5px;
    width: 90%;
    color:hsl(183, 100%, 15%);
    font-weight: bolder;
    font-size: 16px;
    text-align:end;
    cursor: pointer;
    outline: none;
}

.botao{
    background-color: hsl(335, 94%, 49%);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    width:250px;
    height: 50%;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 5%;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #d4b8cb;
    font-weight: bold;

}
.botao:hover{
    border-color: hsl(327, 67%, 45%);
    border-width: 3px;
}
.input-altura:hover{
	border-color:hsl(327, 67%, 45%);
    border-width: 3px;
}
.input-peso:hover {
	border-color: hsl(327, 67%, 45%);
    border-width: 3px;
}

.caixa2{
    width: 50%;
    height: 100%;
    background-color:hsl(335, 94%, 49%);;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 15px;
}
.valores_resultado{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 3%;
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0.15em;
    font-weight: bold;

}
.resultado{
    color:rgb(248, 244, 246);
    width: 95%;
    font-size: 24px;
    margin-top: 0.5em;

}
.valor-resultado{
    color:rgb(247, 227, 239);
    width: 50%;
    font-size: 39px;
    margin-top: 0.1em;
    
   
    
}

.legenda{
    color:rgb(248, 244, 246);
    width: 100%;
    font-size: 27px;
    padding-left: 0.2em;
}
.lista_referencia{
    width: 100%;
    padding-left: 0.7em;
}

.referências{
    
    font-size: 17px;
    padding-bottom: 0.25em;
    
}
#ok::before{
    content: "❎ ";
}
#at::before{
    content: "❌ ";
}

@media screen and (max-width: 580px) {
    main,.calculadora_imc,.caixa1,.caixa2,.valores_resultado,.legenda,.peso,.altura,.botao_calcular,.main{
        width: 97%;
        
          display: flex;
          flex-direction: row;
          justify-content: center;
          
         }
         
        .legenda,.lista_referencia{
            width: 97%;
            padding-top: 0.01em;
            padding-bottom: 0.1em;
            justify-content: center;
            display: flex;
             flex-direction: column;
          }
       .lista_referencia{
        margin-top: 0.1em;
       }
       
  }